/* Importar iconos de Flaticon */
@import "@flaticon/flaticon-uicons/css/all/all";

:root {
  /* Tipografía y legibilidad */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Colores del tema claro */
  --color-fondo: #ffffff; /* Color de fondo principal */
  --texto-primario: #000000; /* Color de texto principal */
  --color-letra-seleccion: #ffcc00; /* Color de texto seleccionado */
  --color-fondo-nav: #f0f0f0; /* Color de fondo de la barra de navegación */
  --color-fondo-hover: #e0e0e0; /* Color de fondo al pasar el mouse */

  /* Propiedades de texto */
  font-synthesis: none; /* Desactivar síntesis de fuentes */
  text-rendering: optimizeLegibility; /* Mejora la legibilidad del texto */
  -webkit-font-smoothing: antialiased; /* Suavizado de fuentes en WebKit */
  -moz-osx-font-smoothing: grayscale; /* Suavizado de fuentes en macOS */
}

[data-theme="dark"] {
  /* Colores del tema oscuro */
  --color-fondo: #242424; /* Color de fondo principal */
  --texto-primario: #ffffff; /* Color de texto principal */
  --color-fondo-nav: #333; /* Color de fondo de la barra de navegación */
  --color-fondo-hover: #555; /* Color de fondo al pasar el mouse */
}

/* Estilos globales */
* {
  padding: 0; /* Eliminar padding por defecto */
  margin: 0; /* Eliminar margen por defecto */
  border: 0; /* Eliminar borde por defecto */
  box-sizing: border-box; /* Incluir padding y borde en el tamaño total */
}

/* Estilos para imágenes */
img {
  width: 100%; /* Ancho completo */
  height: auto; /* Mantener la proporción */
  object-fit: contain; /* Ajustar la imagen sin recortarla */
}

/* Estilos para listas */
li {
  list-style: none; /* Eliminar viñetas de listas */
}

/* Estilos para enlaces */
a {
  text-decoration: none; /* Eliminar subrayado de enlaces */
}
